$primaryColor: #333333;
@font-face {
  font-family: Inter;
  src: url(../../Assets/Fonts/Inter/InterRegular.ttf);
}
.sellArWork {
  display: flex;
  justify-content: center;
  margin-top: 87px;
}
.title {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 64px;
  color: $primaryColor;
}
.subTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $primaryColor;
}
.freeValuation {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: $primaryColor;
}
