@font-face {
  font-family: Inter;
  src: url(../../Assets/Fonts/Inter/InterRegular.ttf);
}
.submit-work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid black;
  margin-top: 78px;
  .submit-work-form {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    .form-section-title {
      color: #333333;
      font-size: 26px;
      font-weight: 700;
      margin-top: 64px;
      font-weight: Inter;
    }
    .form-items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    .form-item-input-col-small {
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }

    .form-item-input-col-smaller {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

      .small-imput {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      .small-select {
        .ant-select-selector {
          width: 66px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .ant-col-offset-8 {
      margin-top: 36px;
      margin-left: 0;

      .ant-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5e3cef;
        border: none;
        width: 100%;
      }
    }

    .text-area {
      width: 100%;
      height: 70px;
      textarea.ant-input {
        height: 70px;
      }
    }

    .ant-select-selector {
      border-radius: 8px;
      height: 38px;
    }

    .form-items-upload-cols {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      .form-item-upload {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        .ant-upload.ant-upload-select-picture-card {
          border-radius: 10px;
          border: 2px dashed #828282;
        }

        .ant-upload-list-picture-card-container {
          border-radius: 10px;
        }

        .ant-upload-list-picture-card .ant-upload-list-item {
          border: none;
        }

        .ant-upload-list-picture-card .ant-upload-list-item {
          padding: 0;
        }

        .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
          border-radius: 10px;
        }
      }
    }

    .form-item-input-col-big {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .input-title {
      font-size: 14px;
      font-weight: 600;
      font-family: Inter;
      color: #333333;
      margin-top: 36px;
      .red-asterisk {
        color: red;
      }
    }
    .ant-form-item {
      width: 100%;
      margin: 0;
      .ant-col-16 {
        max-width: 100%;
        .ant-form-item-control-input-content {
          display: flex;
          justify-content: flex-start;
        }
      }
    }
    .ant-input {
      width: 100%;
      height: 38px;
      border-radius: 8px;
    }
  }
  span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .tooltip-icon {
    margin: 0 10px;
    cursor: pointer;
  }
  .none {
    display: none;
  }
  .display {
    display: block;
    width: 100%;
  }
  .photo-detail-text {
    color: #828282;
    font-size: 14px;
    font-weight: 600;
    text-align: start;
  }
}
