@use "../../App.scss" as v;
@font-face {
  font-family: freightDispPro;
  src: url(../../Assets/Fonts/FreightDispPro/FreightDispPro.otf);
}
@font-face {
  font-family: Inter;
  src: url(../../Assets/Fonts/Inter/InterRegular.ttf);
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: transparent;
  z-index: 1100;
  top: 0;
  right: 0;
  left: 0;
  .name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: v.$whiteColor;
    padding: 18px 0px;
    font-size: 15px;
    .text {
      font-size: 30px;
      color: v.$whiteColor;
      font-weight: normal;
      letter-spacing: 0.02rem;
      font-family: freightDispPro;
    }
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    background-color: transparent;
    .pages {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 0px 20px 0px 20px;
      margin-bottom: 0px;
      color: v.$whiteColor;
      transition: 400ms;
      cursor: pointer;
    }
    .pages:hover {
      color: v.$secondColor;
    }
  }
}
