@use "../../../../App.scss" as v;
@font-face {
  font-family: Inter;
  src: url(../../../../Assets/Fonts/Inter/InterRegular.ttf);
}
.artsper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  background-color: v.$backgroundColor;

  .artsper-content {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 50px;
    .section-title {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      text-align: start;
      margin-bottom: 40px;
    }
    .primary-button {
      border: 1px solid v.$primaryColor;
      border-radius: 4px;
      color: v.$primaryColor;
      background-color: transparent;
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      transition: 300ms;
      pointer-events: none;
    }
  }

  .artsper-image {
    width: 55%;
    background-image: url(../../../../Assets/Images/image2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .artsper-logo {
      margin: 140px 0px;
    }
  }
}
