.status-pending {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 24px;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

  .status {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 100%;
    height: 38px;
    background: #f0f5ff;
    border: 1px solid #b5ccff;
    border-radius: 6px;
    color: #2f54eb;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
  }

  .history {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #5e3cef;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 24px;

    .icon {
      margin-right: 8px;
    }
  }
}
