.delete-modal {
  width: 628px;
  .ant-modal-content {
    border-radius: 16px;
  }

  .modal-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #30333d;
    margin-bottom: 36px;
  }

  .modal-buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    .button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 12px;
      gap: 10px;
      width: 100px;
      height: 36px;
      background: #5e3cef;
      border-radius: 4px;
      flex: none;
      order: 0;
      flex-grow: 0;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      margin-top: 36px;
      cursor: pointer;
    }

    .delete-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 6px 12px;
      gap: 10px;
      width: 100px;
      height: 36px;
      background: #ff4d4f;
      border-radius: 4px;
      flex: none;
      order: 0;
      flex-grow: 0;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #ffffff;
      margin-top: 36px;
      cursor: pointer;
    }
  }

  .ant-modal-body {
    padding: 36px;
  }
}
